/* navigation */
@media (max-width: 820px) {
    .nav-list {
        display: none;
    }

    .chevron {
        display: block;
        margin-top: 73px;
    }

    .fa-search {
        display: none;
    }

    .form {
        margin: 0 auto;
    }

    .footer-text {
        font-size: 10px;
    }

    .fb, .ig {
        font-size: 30px;
        margin-left: 0%;
    }
}